<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>team1</key>
		<string>Alliance</string>
		<key>team2</key>
		<string>Navi</string>
		<key>vslabel</key>
		<string>vs</string>
	</dict>
	<dict>
		<key>team1</key>
		<string>Alliance</string>
		<key>team2</key>
		<string>ig</string>
		<key>vslabel</key>
		<string>vs</string>
	</dict>
	<dict>
		<key>team1</key>
		<string>Alliance</string>
		<key>team2</key>
		<string>tt</string>
		<key>vslabel</key>
		<string>vs</string>
	</dict>
	<dict>
		<key>team1</key>
		<string>Alliance</string>
		<key>team2</key>
		<string>s4</string>
		<key>vslabel</key>
		<string>vs</string>
	</dict>
	<dict>
		<key>team1</key>
		<string>Alliance</string>
		<key>team2</key>
		<string>Navi</string>
		<key>vslabel</key>
		<string>vs</string>
	</dict>
	<dict>
		<key>team1</key>
		<string>Alliance</string>
		<key>team2</key>
		<string>Navi</string>
		<key>vslabel</key>
		<string>vs</string>
	</dict>
	<dict>
		<key>team1</key>
		<string>Alliance</string>
		<key>team2</key>
		<string>Navi</string>
		<key>vslabel</key>
		<string>vs</string>
	</dict>
	<dict>
		<key>team1</key>
		<string>Alliance</string>
		<key>team2</key>
		<string>Navi</string>
		<key>vslabel</key>
		<string>vs</string>
	</dict>
	<dict>
		<key>team1</key>
		<string>Alliance</string>
		<key>team2</key>
		<string>Navi</string>
		<key>vslabel</key>
		<string>vs</string>
	</dict>
	<dict>
		<key>team1</key>
		<string>Alliance</string>
		<key>team2</key>
		<string>Navi</string>
		<key>vslabel</key>
		<string>vs</string>
	</dict>
	<dict>
		<key>team1</key>
		<string>Alliance</string>
		<key>team2</key>
		<string>Navi</string>
		<key>vslabel</key>
		<string>vs</string>
	</dict>
	<dict>
		<key>team1</key>
		<string>Alliance</string>
		<key>team2</key>
		<string>Navi</string>
		<key>vslabel</key>
		<string>vs</string>
	</dict>
	<dict>
		<key>team1</key>
		<string>Alliance</string>
		<key>team2</key>
		<string>Navi</string>
		<key>vslabel</key>
		<string>vs</string>
	</dict>
	<dict>
		<key>team1</key>
		<string>Alliance</string>
		<key>team2</key>
		<string>Navi</string>
		<key>vslabel</key>
		<string>vs</string>
	</dict>
	<dict>
		<key>team1</key>
		<string>Alliance</string>
		<key>team2</key>
		<string>Navi</string>
		<key>vslabel</key>
		<string>vs</string>
	</dict>
	<dict>
		<key>team1</key>
		<string>Alliance</string>
		<key>team2</key>
		<string>lg</string>
		<key>vslabel</key>
		<string>vs</string>
	</dict>
	<dict>
		<key>team1</key>
		<string>Alliance</string>
		<key>team2</key>
		<string>hgt</string>
		<key>vslabel</key>
		<string>vs</string>
	</dict>
</array>
</plist>
